extends boot_layout

block content
  div(class='navmenu navmenu-default navmenu-fixed-left offcanvas-xs')
    a(class="navmenu-brand visible-xs", href='/') 
      img(src='/images/ui/side_209_195.png')
    ul(class='nav navmenu-nav')
      li
        a(href='#doc_1', class="idoc", style='font-size: 24px;') <p style="text-align: center; "> 緣&nbsp;&nbsp;起 </p>
      li
        a(href='#doc_2', class="idoc", style='font-size: 24px;') <p style="text-align: center;">回&nbsp;&nbsp;眸</p>
      li
        a(href='#doc_3', class="idoc", style='font-size: 24px;') <p style="text-align: center;">願&nbsp;&nbsp;景</p>

  div(class='navbar navbar-default hidden-sm hidden-md hidden-lg')
    button(type='button', class='navbar-toggle', data-toggle='offcanvas', data-target='.navmenu')
      span(class='icon-bar')
      span(class='icon-bar')
      span(class='icon-bar')

  if(pop_doc == true) 
    a(class="sticker opennow", data-kind="1", style="display:none;", href="#doc_#{doc_num}")

  div(id='main')                      
    div(id='delta')
    div(id='map')
      //#real_map
      #trans_map
        each sticker in stickers
          - var thumbfile = '/images/stickers/sid_' + sticker.sid + '/' + sticker.pos_id + '.png';
          if(sticker.open == true) 
            a(class="sticker opennow", data-kind="#{sticker.kind}", style="position: absolute; top:#{sticker.pos_y}px; left:#{sticker.pos_x}px; background-color: #f1f170;" href="#sid_#{sticker.sid}")
              img(src="#{thumbfile}", class="thumbnail", style="width:#{sticker.width}px; height:#{sticker.height}px;background-color: #f1f170;")
          else              
            a(class="sticker", data-kind="#{sticker.kind}", style="position: absolute; top:#{sticker.pos_y}px; left:#{sticker.pos_x}px; background-color: #f1f170;" href="#sid_#{sticker.sid}")
              img(src="#{thumbfile}", class="thumbnail", style="width:#{sticker.width}px; height:#{sticker.height}px;background-color: #f1f170;")
        div(id='arrow')          
        div(style='display:none')
          each sticker in stickers
            if(sticker.kind == 0 || sticker.kind == 1)
              div(id="sid_#{sticker.sid}", data-kind="#{sticker.kind}")
                div(class='controls')
                  a(href='#', data-toggle="popover", data-placement="right" , data-content='http://expo.318.io/#{sticker.sid}#sid_#{sticker.sid}') 
                    |<i class="fa fa-share fa-2x"></i>
                div(class='container')
                  div(class='page-header story-header')
                    h2 &nbsp;&nbsp;!{sticker.title} <small> !{sticker.author} </small>
                  |!{sticker.content} 
            else if(sticker.kind == 2)
              div(id="sid_#{sticker.sid}", data-kind="#{sticker.kind}") 
                div(class='controls')
                  a(href='#', data-toggle="popover", data-placement="right" , data-content='http://expo.318.io/#{sticker.sid}#sid_#{sticker.sid}') 
                    |<i class="fa fa-share fa-2x"></i>
                div(class='picture-container')
                  div(class='picture-body') 
                    a(href='#{sticker.target_url}')
                      if(sticker.open == true)
                        img(width="#{sticker.img_width}", height= "#{sticker.img_height}", src="/images/stickers/cache/sid_#{sticker.sid}.jpg")
                      else
                        img(class='lazy', width="#{sticker.img_width}", height= "#{sticker.img_height}", data-original="/images/stickers/cache/sid_#{sticker.sid}.jpg", src="")
                      //img(src='/images/stickers/cache/sid_#{sticker.sid}.jpg')
                  if(sticker.title != '' || sticker.content != '')
                    div(class='picture-description')
                      div(class='inner-picture-description')
                        div(class='picture-header') 
                          span !{sticker.title}
                        div(class='picture-content') !{sticker.content}
                  else
                    div(class='empty-description')
            else if(sticker.kind == 3)
              div(id="sid_#{sticker.sid}", data-kind="#{sticker.kind}") 
                div(class='controls')
                  a(href='#', data-toggle="popover", data-placement="right" , data-content='http://expo.318.io/#{sticker.sid}#sid_#{sticker.sid}') 
                    |<i class="fa fa-share fa-2x"></i>
                div(class='picture-container')                
                  div(class='video-body')
                    video(width="480", height="400" controls)
                      source(src="#{sticker.video_url}", type="video/webm")
                  if(sticker.title != '' || sticker.content != '')
                    div(class='picture-description')
                      div(class='inner-picture-description')
                        div(class='picture-header') 
                          span !{sticker.title}
                        div(class='picture-content') !{sticker.content}
                  else
                    div(class='empty-description')                      

    div(style = 'display: none')
      div(id="doc_1", )
        div(class='controls')
          a(href='#', data-toggle="popover", data-placement="right" , data-content='http://expo.318.io/doc_1#doc_1') 
            |<i class="fa fa-share fa-2x"></i>
        div(class='container')
          div(class='page-header story-header')
            h2 &nbsp;&nbsp; The voice of people <small>黃銘崇</small>
          include:markdown 1.md
      div(id="doc_2")
        div(class='controls')
          a(href='#', data-toggle="popover", data-placement="right" , data-content='http://expo.318.io/doc_2#doc_2') 
            |<i class="fa fa-share fa-2x"></i>
        div(class='container')
          div(class='page-header story-header')
            h2 &nbsp;&nbsp; 回眸 318 <small>黃銘崇</small>
          include:markdown 2.md
      div(id="doc_3")
        div(class='controls')
          a(href='#', data-toggle="popover", data-placement="right" , data-content='http://expo.318.io/doc_3#doc_3') 
            |<i class="fa fa-share fa-2x"></i>
        div(class='container')
          div(class='page-header story-header')
            h2 &nbsp;&nbsp; 願景 <small>莊庭瑞</small>
          include:markdown 3.md
    div(id='logo')
    div(id='links')
      div(class='line')
        
      div(class='items')
        div(class='link') 
          div
            div(class='dot') <i class="fa fa-circle"></i> 
            div(class='item') <a class="idoc", href="#doc_1">緣 起</a>
        div(class='link') 
          div
            div(class='dot') <i class="fa fa-circle"></i> 
            div(class='item') <a class="idoc", href="#doc_2">回 眸</a>
        div(class='link') 
          div
            div(class='dot') <i class="fa fa-circle"></i> 
            div(class='item') <a class="idoc", href="#doc_3">願 景</a>
              
        div(class='url')
          div
            div(class='dot') <i class="fa fa-circle"></i>
            div(class='item') 
              div 
                div
                  | 部份影像選自<a href="http://public.318.io">「318 公民運動文物紀錄典藏庫目錄」</a>
                div(style='height: 4px;')
                div
                  | 本網站內容皆為個人意見，不代表製作單位立場 
                div(style='height: 4px;')
                div
                  | email: 
                  a(href="mailto: expo@318.io") expo@318.io
                div(style='height: 4px;')
                div
                  | 最佳解析度 800ｘ600 以上
                div(style='height: 4px;')
      
//    div(id='mask')   
