extends map_layout

block content
  #map

  #trans_map
    each sticker in stickers
      - var thumbfile = '/images/thumbs/' + sticker.sid + '.jpg';
      .sticker(sid="#{sticker.sid}", style="background-image: url(#{thumbfile}); width: #{sticker.width}px; height:#{sticker.height}px; position: absolute; top: #{sticker.pos_y}px; left: #{sticker.pos_x}px;" href="#sid_#{sticker.sid}")

    div(style='display:none')
      each sticker in stickers
        div(id="sid_#{sticker.sid}") !{sticker.content}
