extends map_layout

block content
  #map

  #trans_map
    
    each sticker in stickers
      - var thumbfile = '/images/stickers/' + sticker.sid + '.png';
      img(src="#{thumbfile}", class="sticker", kind="#{sticker.kind}", sid="#{sticker.sid}", style="width:#{sticker.width}px; height:#{sticker.height}px; position: absolute; top:#{sticker.pos_y}px; left:#{sticker.pos_x}px;" href="#sid_#{sticker.sid}")

    div(style='display:none')
      each sticker in stickers
        div(id="sid_#{sticker.sid}", kind="#{sticker.kind}") !{sticker.content}
