{{ content.expotool }}

<div class="row">

  <div class="col-md-6 col-lg-5">
    <section>
      <article{{ attributes }}>
        <div{{ content_attributes }}>
          {{ content.stickymap }}
        </div>
      </article>
    </section>
  </div>

  <div class="col-md-6 col-lg-7">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div id="stickyfeatured">
          {{content.featuredimage}}
          <h2 class="expotitle">{{label}}</h2>
          {{content|without('featuredimage', 'field_featuredimage', 'stickymap', 'expotool', 'expomenu', 'permalink', 'field_body')}}
          <div class="expodesc">
          {{content.field_body}}
          <p class="fademe"><a class="btn btn-primary inlinepopup" href="#the_full_desc">描述...</a></p>
          </div>

          <div style='display:none'><div id="the_full_desc">
          <h2>{{label}}</h2>
          {{content.field_body}}
          </div></div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6">
        <div id="stickymenu">
          <div class="line"></div>
          <div class="item-wrapper">
            {{content.expomenu}}
            <div class="expodesc">
              <p>部份影像選自<a href="http://public.318.io">「318 公民運動文物紀錄典藏庫目錄」</a><br/>
                        本網站內容皆為個人意見，不代表製作單位立場<br/>
                        最佳解析度 800ｘ600 以上</p>
              <p><a href="/node/166">使用說明</a></p>
              <div classs="permalink">本頁引用網址： {{ content.permalink }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
